# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.env/
.venv/
bin/
build/
lib/
python*/

# Distribution / packaging
.Python
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.cache
dotcoverage
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Mac OS
.DS_Store

# VS Code
.vscode/ 

*.egg-info/
.pytest_cache/